<h3>Welcome to the Time Travel Testing Tool</h3>


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Manage data</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-secondary">
            <td><%= link_to "Manage customers", customers_path %></td>
        </tr>
        <tr class="table-secondary">
            <td><%= link_to "Manage scenarios", scenarios_path %></td>
        </tr>
        <tr class="table-secondary">
            <td><%= link_to "Manage tests", tests_path %></td>
        </tr>
    </tbody>
</table>